@charset "UTF-8";
body{
background-color:azure;
font-family:'Courier New', Courier, monospace;
color:black
}
section{
    background-color: white;
    box-shadow: 5px 5px 10px black;
    text-align:center;
    width: 500px;
    height:250px;
    margin:100px;

}
img{
    width: 200px;
    height:200px;
    border-radius:100px
}
