body{
    font-family: 'Courier New', Courier, monospace;
    background-color:azure;
    text-align:center;
    

}
header > h1{
    font-size: 25px;
    color:black
}
section{
    background-color:white;
    border-radius:10px;
    padding:10px;
    width:400px;
    margin:auto;
    box-shadow: 3px 3px 10px black;
    text-align:justify
   
}
footer{
    color:white;
    text-align:center;
    font-style:italic;

}
input[type ="number"]{
    width: 80px;
}
#res{
margin-top:20px;
max-width: 100%;
word-wrap:break-word;
overflow-wrap:break-word;
overflow:hidden;


}
