@charset "UTF-8";
body{
    background-color:aquamarine;
    color:rgb(0, 0, 0);
    text-align:left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
main{
    background-color:white;
    width:400px;
    height:200px;
margin:225px;
    font-size:20px;
}