body{
    background-color: lightblue
    ;
    color: violet;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
}
h1{
    color: darkblue;
    font-size: 40px;
    
}